# Node
node_modules/

# Hardhat
artifacts/
cache/
typechain-types/

# React
client/node_modules/
client/build/
client/dist/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Outros
.env
.env.*
